<div class="container">
    <div class="row">
        <div id="search-and-filter">
                <div class="form-group">
                    <i class="fa fa-search"></i>
                    <input type="text" ng-model="searchText" class="form-control" placeholder="Search through all of our dashboards">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="stream">
<!--                 <div ng-repeat="dashboard in allDashboards | filter: searchText | orderBy: '-lastUpdated'" class="dashboard-div">

                </div> -->
                <dashboard-entry-stream dashboard="dashboard" ng-repeat="dashboard in allDashboards | filter: searchText | orderBy: '-lastUpdated'" class="dashboard-div"></dashboard-entry-stream>
            </div>
        </div>
    </div>
</div>
