<div class="container">
    <div class="row">
        <div id="search-and-filter">
            <div class="container">
                <div class="form-group">
                    <i class="fa fa-search"></i>
                    <input type="text" ng-model="searchText" class="form-control" placeholder="Search through all of our dashboards">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="stream">
                <div ng-repeat="dashboard in allDashboards | filter: searchText | orderBy: '-lastUpdated'" class="dashboard-div">
                    <div class="dashboard-header">
                        <h2 class="dashboard-title">{{dashboard.title}}</h2>
                        <div class="dashboard-profile">
                            <img class="user-photo" ng-src="{{dashboard.user.picture}}">
                            <h5 class="user-name"><strong>{{dashboard.user.firstName}} {{dashboard.user.lastName}}</strong></h5>
                            <h6 class="last-updated">{{dashboard.lastUpdated | date: "MMM d, yyyy 'at' h:mm a" }}</h6>
                        </div>
                    </div>
                    <img class="dashboard-screenshot" ng-src="/{{dashboard.screenshot}}">
                    <h5 class="dashboard-tags" ng-repeat="tag in dashboard.tags"><strong>{{tag}}</strong></h5>
                    <h5 class="dashboard-description">{{dashboard.dataset.shortDescription}}</h5>
                    <button ng-click="forkDashboard(dashboard)">Fork Dashboard</button>
                    <button ng-click="forkDataset(dashboard.dataset)">Fork Dataset</button>
                </div>
            </div>
        </div>
    </div>
</div>
