<div class="widget-modal-container">
    <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <h3>New Chart</h3>
            <button type="button" class="close pull-right" ng-click="remove()" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <div class="chart-title" ng-class="{error: _form.title.$error && _form.submitted}">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" ng-model="form.title"/>
            </div>
            <div>
                <label>Choose graph type</label>
                <div class="new-widget-selector">
                    <a title="new bar chart" role="button" tooltip-placement="bottom" uib-tooltip="Bar Graph" ng-click="toggleBarChartAccordion()" ng-class="{'active-widget-selector': !barChartCollapsed}"><i class="material-icons">insert_chart</i></a>
                    <a title="new row chart" role="button" tooltip-placement="bottom" uib-tooltip="New Row Chart" ng-click="toggleRowChartAccordion()" ng-class="{'active-widget-selector': !rowChartCollapsed}"><i class="material-icons gly-rotate-90">insert_chart</i></a>
                    <a title="new pie chart" role="button" tooltip-placement="bottom" uib-tooltip="New Pie Chart" ng-click="togglePieChartAccordion()" ng-class="{'active-widget-selector': !pieChartCollapsed}"><i class="material-icons">donut_small</i></a>
                    <a title="new line chart" role="button" tooltip-placement="bottom" uib-tooltip="New Line Chart" ng-click="toggleLineChartAccordion()" ng-class="{'active-widget-selector': !lineChartCollapsed}"><i class="material-icons">timeline</i></a>
                    <a title="new table chart" role="button" tooltip-placement="bottom" uib-tooltip="New Table Chart" ng-click="toggleDataTableAccordion()" ng-class="{'active-widget-selector': !datachart}"><i class="material-icons">grid_on</i></a>
                    <a title="new text panel" role="button" tooltip-placement="bottom" uib-tooltip="New Text Panel" ng-click="createDatacountWidget(widget, dataset._id)" disabled><i class="material-icons">looks_one</i></a>
                </div>
            </div>

            <div class="widget-settings">
                <create-barchart bar-chart-collapsed="barChartCollapsed" form="form" axis-dropdowns="axisDropdowns" color-options="colorOptions" graph-groups="graphGroups" current-chart="widget.chartObject"></create-barchart>
                <create-rowchart row-chart-collapsed="rowChartCollapsed" form="form" axis-dropdowns="axisDropdowns" color-options="colorOptions" graph-groups="graphGroups" current-chart="widget.chartObject"></create-rowchart>
                <create-piechart pie-chart-collapsed="pieChartCollapsed" form="form" axis-dropdowns="axisDropdowns" graph-groups="graphGroups" current-chart="widget.chartObject"></create-piechart>
                <create-linechart line-chart-collapsed="lineChartCollapsed" form="form" axis-dropdowns="axisDropdowns" color-options="colorOptions" graph-groups="graphGroups" current-chart="widget.chartObject"></create-linechart>
                <create-datatable datachart="datachart" form="form" axis-dropdowns="axisDropdowns" color-options="colorOptions" graph-groups="graphGroups" current-chart="widget.chartObject"></create-datatable>
            </div>

        </div>
        <div class="modal-footer">
            <a ng-click="remove(true)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</a>
            <a ng-click="remove()" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Save</button>
        </div>
    </form>
</div>
