<!-- https://github.com/ManifestWebDesign/angular-gridster/blob/master/demo/dashboard/widget_settings.html -->
<div>
    <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <h3>NEW {{chartType ? (chartType | uppercase) : "CHART"}}</h3>
        </div>
        <div class="modal-body">
            <div class="form-group" ng-class="{error: _form.title.$error && _form.submitted}">
                <label class="control-label col-lg-3 col-md-3">Title</label>
                <div class="col-lg-9 col-md-9">
                    <input name="title" type="text" ng-model="form.title" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group" ng-class="{error: _form.labelX.$error && _form.submitted}">
                        <label for="selectX" class="control-label col-lg-6 col-md-6">Label X-Axis</label>
                        <select name="selectX" id="selectX" ng-options="option.key for option in axisDropdowns.availableOptions track by option.key" ng-model="form.labelX"></select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label for="selectY" class="control-label col-lg-6 col-md-6">Label Y-Axis</label>
                        <select name="selectY" id="selectY" ng-options="option.key for option in axisDropdowns.availableOptions track by option.key" ng-model="form.labelY"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="control-label col-lg-6 col-md-6" for="groupBy"> Group Data By: </label><br>
                <select name="groupBy" ng-model="form.group">
                    <option value="sum" >Sum</option>
                    <option value="count">Count</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-click="remove()" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</a>
            <a ng-click="dismiss()" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Save</button>
        </div>
    </form>
    <!-- {{dataset.jsonData[0]}} -->
</div>
