<!-- https://github.com/ManifestWebDesign/angular-gridster/blob/master/demo/dashboard/widget_settings.html -->
    <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-10">
                    <h3>New {{chartType ? (chartType | capitalize) : "Chart"}}</h3>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="form-group" ng-class="{error: _form.title.$error && _form.submitted}">
                <label for="title">Title</label>
                <input type="text" class="form-control" ng-model="form.title" name="title" />
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="selectX"><span ng-show="chartType==='dataTable'">Group By</span><span ng-hide="chartType==='dataTable'">Label X-Axis</span></label>
                        <select name="selectX" id="selectX" ng-options="option.key for option in axisDropdowns.objectKeys track by option.key" ng-model="form.labelX"></select>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <label for="selectY"><span ng-show="{{chartType==='dataTable'}}">Order By</span><span ng-hide="{{chartType==='dataTable'}}">Label Y-Axis</span></label>
                        <select name="selectY" id="selectY" ng-options="option.key for option in axisDropdowns.objectKeys track by option.key" ng-model="form.labelY"></select>
                    </div>
                    <div class="form-group"><span ng-show="{{chartType==='dataTable'}}">
                         <label for="orderData">Order</label>
                        <select name="orderData" ng-model="form.orderBy">
                            <option value="ascending">Ascending</option>
                            <option value="descending">Descending</option>
                        </select>
                    </span>
                    </div>
                </div>
            </div class="row">
            <!--row-->
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group"><span ng-hide="{{chartType==='dataTable'}}">
                         <label for="groupBy">Group Data By</label>
                        <select name="groupBy" ng-model="form.group">
                            <option value="count">Count</option>
                            <option value="sum">Sum</option>
                        </select>
                    </span>
                    </div>
                    <div class="form-group"><span ng-show="{{chartType==='dataTable'}}">
                    <label for="select-columns">Columns</label>
                        <select multiple name="select-columns" id="select-columns" ng-model="form.columns" ng-options="column.key for column in axisDropdowns.objectKeys">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label for="selectY">Graph Group</label>
                        <select ng-model="form.graphGroup" name="graphGroup" id="graphGroup" ng-options="option for option in graphGroups.options"></select>
                        <span>
                            <a ng-click="addGraphGroup()" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i>add group</a>
                        </span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="Style">Choose a style</label>
                        <select name="Style" ng-model="form.color.style">
                            <option value="solid">Solid</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <h3>Color</h3>
                        <div class="colorSelect">
                            <my-color ng-init="form.color.color=colorOptions[0]" ng-repeat="color in colorOptions" color="color" ng-click="form.color.color=color"></my-color>
                        </div>
                        
                        <!-- <select ng-model="form.color.color">
                            <option ng-repeat="color in colorOptions" style='background-color: red'>{{color}}</option>
                        </select> -->
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a ng-click="remove()" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</a>
            <a ng-click="dismiss()" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Save</button>
        </div>
    </form>
