#home {
    margin-top: -40px;
    h1 {
        text-align: center;
    }
    #main-search {
        height: 87vh;
        background: url(/data/home-image.png) no-repeat center center;
        opacity: 0.85;
        background-size: cover;
        #main-search-page-header {
            font-size: 52px;
            margin-top: 27.4%;
            color: #FFFFFF;
        }
        #main-search-page-subHeader {
            font-size: 42px;
            margin-top: 20px;
            color: #FFFFFF;
        }
        .btn {
            background-color: black;
        }
        .input-group {
            text-align: center;
            margin-top: 10px;
        }
        button {
            margin: 30px;
            font-size: 18px;
            border-color: white;
        }
    }
    #marketplace {
        #marketplace-page-header {
            font-size: 52px;
            color: black;
            margin-top: 100px;
        }
        img {
            display: block;
            max-width: 100%; 
            height: auto;
            margin-top: 170px;
            margin-left: auto;
            margin-right: auto;
        }
        p {
            font-weight: normal;
            font-style: normal;
            text-align: center;
            font-size: 26px;
            padding-top: 15px;
        }
    }
    #company-description {
        background-color: #222222;
        height: 60px;
        margin-top: 80px;
        div {
            h2 {
                display: inline-block;
                margin-left: 60px;
                color: white;
                margin-bottom: 0px;
                margin-top: 10px;
            }
            h4 {
                margin-bottom: 0px;
                margin-top: 10px;
                display: inline-block;
                color: white;
                margin-left: 8px;
            }
            h3 {
                margin-bottom: 0px;
                margin-top: 10px;
                display: inline-block;
                color: white;
                margin-left: 8px;
            }
            h8 {
                font-size: 80%;
                display: inline-block;
                color: gray;
                margin-left: 400px;
            }
        }
    }
}