<div gridster-item="widget" class="widget-container">
    <listener></listener>
    <div class="box" ng-attr-id="{{ 'widget-container-' + widget.id }}">
        <div class="box-header">
            <h4>{{ widget.title }}</h4>
            <div class="box-header-btns pull-right">
                <a title="settings" ng-click="openSettings(widget, dataset._id)"><i class="glyphicon glyphicon-cog"></i></a>
                <a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="new-widget-selector" ng-hide="noGraph(widget)">
            </div>
            <div class="widget-content-container"></div>
        </div>
    </div>
</div>
