#search-and-filter {
    .form-group {
        margin-bottom: 0px;
        .fa {
            font-size: 22px;
            margin-right: 5px;
            float: left;
            clear: both;
            display: inline-block;
            margin-top: 7px;
            margin-right: 10px;
        }
        input {
            float: left;
            display: inline-block;
            max-width: 350px;
        }
    }
}

.stream {
    margin: 0 auto;
    .dashboard-div {
    background-color: #e7e7e7;
    margin-top: 30px;
    border-style: solid;
    border-width: thin;
    border-color: #cccccc;
    border-radius: 5px;
        @include clearfix;
        width: 90%;
    }
    .user-photo {
        float: left;
        width: 60px;
        margin: 10px;
    }
    .stream p {
        display: inline;
        text-align: left;
    }
    img.dashboard-screenshot {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        position: relative;
        left: -4%;
    }
    .user-name {
        padding-top: 1%;
    }
    .dashboard-header {
        @include clearfix;
        height: 90px;
    }
    .dashboard-profile {
        @include clearfix;
        position: relative;
        top: -60px;
    }
    .dashboard-title {
        text-align: center;
        padding-top: 15px;
        margin-top: 0px;
    }
    .dashboard-tags {
        margin: 10px;
        float: left;
    }
    .dashboard-description {
        margin-top: 20px;
    }
    i {
        margin-right: 8px;
    }
    button {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    .fork-dashboard {
        margin-left: 50px;
    }
    h5 {
        margin-left: 50px;
        margin-bottom: 30px;
    }
}
