#load-file-container {
    margin-bottom: 20px;

    #project-name {
        width: 100%;
        margin-bottom: 10px;
    }

    #input-btn {
        margin-bottom: 10px;
    }

    .btn-default {
        margin-bottom: 10px;
    }
}
