#login-form {
    button {
        width: 100%;
    }
}

.signin-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: -webkit-min-content;
}

.signin-container > * {
    width: 33%;
}

.signin-container .local {
    max-width: 18em;
    text-align: left;
}

.signin-container .or {
    max-width: 10em;
}

.signin-container .oauth {
    max-width: 18em;
}

.signin-container .btn-social {
    text-align: center;
    width: 100%;
}

.back-line {
    line-height: 0;
    border-bottom: 1px dotted #999;
    text-align: center;
}

.back-line > span {
    background: #fff;
    color: #999;
    padding: 0.5em;
    border: 1px dotted #999;
    border-radius: 50%;
}

.buffer {
    margin: 1.5em 0.8em;
}

.btn-google {
    span {
        color: #fff;
    }
}

.btn-facebook {
    span {
        color: #fff;
    }
}

@media (max-width: 600px) {
    .signin-container {
        flex-direction: column;
    }
    .signin-container > * {
        width: 100%;
    }
}
