.widget-modal-container {
    label {
        font-size: 16px;
        margin-right: 5px;
    }
    .modal-header {
        h3 {
            display: inline-block;
        }
        button {
            display: inline-block;
        }
    }
    .modal-body {
        .chart-title {
            display: block;
            margin-bottom: 20px;
        }

        .new-widget-selector {
            a {
                color: #ccc;
            }
            a:hover {
                color: #008cba;
            }
            a:active {
                color: #008cba;
            }
            .material-icons {
                font-size: 40px;
                margin-right: 10px;
            }
            .gly-rotate-90 {
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }

        .widget-settings {
            margin-top: 15px;
            h5 {
                font-weight: bold;
            }
            .row {
                margin-left: 0px;
                margin-right: 0px;
            }
            .glyphicon-plus {
                display: inline;
                margin-left: 5px;
                color: darkgray;
            }
            .glyphicon-plus:hover {
                cursor: pointer;
                color: #333333;
            }
            .colorSelect {
                height: 80px;
                width: 100px;
                overflow: auto;
                my-color {
                    font-style: none;
                    height: 18px;
                    width: 17px;
                    display: inline-block;
                    margin: 0px;
                    padding: 1px;
                    &.active {
                        border: solid 1px black;
                    }
                }
            }
        }
    }
}

// .widget-container {
// .modal-content {
//     margin-top: 200px;
//     padding: 15px;
// }
// .box-content {
//     width: 100%;
//     height: 100%;
//     padding: 10px;
// }
// .dc-chart {
//     text-align: center;
//     overflow: hidden;
// }
// .dc-table-label {
//     background: #5BC0DE;
//     font-size: 1.3em;
//     text-transform: uppercase;
//     text-align: left;
//     padding-left: 15px;
// }
// .dc-table-head {
//     font-size: 1.1em;
//     text-transform: uppercase;
//     text-align: center;
// }
// }
