.modal-content {
    margin-top: 200px;
}

.box-content {
    width:100%;
    height:100%;
    padding:10px;
}

.widget-content-container {
    clear:both;
    width:100%;
    height:100%;
}

.dc-chart {
	text-align: center;
	overflow: hidden;
}

.dc-table-label {
    background: #5BC0DE;    /*bootstrap info*/
    font-size: 1.3em;
/*    font-weight: bold;*/
    text-transform: uppercase;
    text-align: left;
    padding-left: 15px;
}
