.widget-container {
    .modal-content {
        margin-top: 200px;
        padding: 15px;
    }
    .box-content {
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    .widget-content-container {
        clear: both;
        width: 100%;
        height: 100%;
    }
    .dc-chart {
        text-align: center;
        overflow: hidden;
    }
    .dc-table-label {
        background: #5BC0DE;
        /*bootstrap info*/
        font-size: 1.3em;
        /*    font-weight: bold;*/
        text-transform: uppercase;
        text-align: left;
        padding-left: 15px;
    }
    .dc-table-head {
        font-size: 1.1em;
        /*    font-weight: bold;*/
        text-transform: uppercase;
        text-align: center;
    }
}

.colorSelect {
    height: 80px;
    width: 100px;
    overflow: auto;
    my-color {
        font-style: none;
        height: 18px;
        width: 17px;
        display: inline-block;
        margin: 0px;
        padding: 1px;
        &.active {
            border: solid 1px black;
        }
    }
}

/*http://bootsnipp.com/snippets/featured/glyphicon-animate-rotation-and-flip*/
.gly-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*.active {
    background-color: black;
}*/
