<section id="home">
    <div id="main-search">
        <div class="container">
            <div class="row">
                <h1 id="main-search-page-header">The world is overflowing with data,</h1>
                <h1 id="main-search-page-subHeader">Dash.js helps you interpret it</h1>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-lg" type="button submit">Sign Up</button>
                        <button class="btn btn-primary btn-lg" type="button submit">Explore</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="marketplace">
        <div class="row">
            <h1 id="marketplace-page-header">Interactive Dashboards. Coordinated Graphs.</h1>
            <div class="col-lg-offset-1 col-lg-10">
                <p>
                    You upload your data. We provide an easy to use interface to help you extract meaning out of your data.
                </p>
            </div>
            <img class="gif" ng-src="/data/ourGIF9.gif">
        </div>
    </div>
    <div id="company-description">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <i class="glyphicon glyphicon-search text-center"></i>
                        <h3>Find Data</h3>
                        <p>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <i class="glyphicon glyphicon-star text-center"></i>
                        <h3>Create Charts</h3>
                        <p>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <i class="glyphicon glyphicon-ok-circle text-center"></i>
                        <h3>Share with the World</h3>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- 
<section id="home">
    <rando-greeting></rando-greeting>
    <button ng-click="loadData()">Load Data</button>
    
    <form ng-submit="createGraph(selection.chart,selection.x,selection.y,selection.group,{})">
        Chart Type
        <select  ng-model="selection.chart">
            <option ng-repeat="option in ['pieChart','barChart','rowChart']">{{option}}</option>
        </select>
        X-axis
        <select ng-model="selection.x">
            <option ng-repeat="option in optionArray">{{option}}</option>
        </select>
        Y-axis
        <select ng-model="selection.y">
            <option ng-repeat="option in optionArray">{{option}}</option>
        </select>
        Group Type
        <select ng-model="selection.group">
            <option ng-repeat="option in ['sum','count']">{{option}}</option>
        </select>
        Submit
        <input type="submit">
    </form>
    <button ng-click="resize()"></button>
    <div class="col-xs-6 gridContainer">
        <div ui-grid="{data: myData,columnDefs: myDefs}" class="myGrid"></div>
    </div>
</section>
 -->
