@import 'variables';
* {
  box-sizing: border-box;
}

body {
  background: #blue;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 10px;
  margin: 0 auto;
}

.spacer {
    margin-top: 30px;
}

.big-spacer {
    margin-top: 60px;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'login/main';
@import 'dashboard/main';
@import 'signup/main';
@import 'profile/main';
@import 'stream/main';

