@import url(https://fonts.googleapis.com/css?family=Carme|Fredoka+One);

// BOBBY NOTE: Change font / color variables later
$header-font-stack: 'Fredoka One', Helvetica, sans-serif;
$paragraph-font-stack: 'Carme', Helvetica, sans-serif;
$space-dark-blue: #02111B;
$deep-brown: #30292F;
$medium-faded-purple: #3F4045;
$medium-faded-blue: #5D737E;
$bright-robin-egg-blue: #75DDDD;
$light-faded-yellow: #EAF0CE;
$ivory: #FCFCFC;
$light-grey: #EDEDED;
