#profile-img {
    width: 100%;
}

#create-buttons {
    button {
        min-width: 125px;
        height: 60px;
    }
}

@import "profile-datasets";
@import "profile-dashboards";
@import "profile-datasets.settings";
@import "profile-dashboards.settings";
